*.so
*.o
ThesisRpackage/wc2-5/*

# TAGS
ThesisRpackage/TAGS

# Notes
Notes.html

# log file
*.log

*Rplots.pdf

# Data
Data/

# OUTPUT
OUTPUT/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Biblio
Biblio/
.Rproj.user

# emacs
*~

auto/

# Notes
Notes.pdf
Notes.tex

# 3Article
3Article/main.pdf
3Article/main.tex
3Article/main.html
3Article/ltximg/

# tags
GPATH
GRTAG
GTAGS

# these
These/ltximg/
These/main.org_archive

# These/Slides/ThemasSeminar2017/
These/Slides/ThemasSeminar2017/main.pdf
These/Slides/ThemasSeminar2017/main.tex

# 2Article/Slides/Jobim2016/
2Article/Slides/Jobim2016/*.pdf
2Article/Slides/Jobim2016/*.tex
2Article/Slides/Jobim2016/cache/

# odt
*.odt

# latex
*.bbl
These/main.pdf
These/main.tex
*.toc
*.nav
*.vrb
*.out
*.bbl
*.fdb_latexmk
*.aux
*.snm
*.fls
*.blg
2Article/Slides/JourneePersyvalLab_2017/main.pdf

# subgit
MatrixFactorizationR/
ExpRiment/
MaThese/